.main-footer {
    color: $white;
    background-color: $font_blue;    
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem;

    ul {
        text-align: right;
        list-style: none;
        li {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }

            a {
                text-decoration: none;
                color: $white;
            }
        }

    }
}